@page "/bucketlistitem/add"
@inject HttpClient Http
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IJSRuntime JS


<h3>Voeg item toe</h3>
<div class ="mb-3 mt-3">
    <label for="onderwerpt"> Onderwerp</label
    <input type="text" class="form-control" id="name" placeholder="onderwerp" name="onderwerp" @bind="_aName">
</div>

<div class ="mb-3">
    <label for="verduidelijking"> Beschrijving</label
    <input type="text" class="form-control" id="pwd" placeholder="Verduidelijking" name="verduidelijking" @bind="_aName">
</div>
<button type="Submit" class="btn btn-primary" @onclick="addItemToDB">Voeg toe</button>

@code {
    private string _aName, _aDescription;
    private async void addItemToDB()
    {
        var url = $"bucketlistitem?itemName={Uri.EscapeDataString(_aName)}&itemDescription={Uri.EscapeDataString(_aDescription)}";
        //post request, lege bod
        var response = await Http.PostAsync(url, null);

        if(response.IsSuccessStatusCode)
        {
            //navigeer naar bucketlist pagine bij succes
            Navigation.NavigateTo("/Bucketlistitem");
        }
        else if(response.StatusCode == System.Net.HttpStatusCode.Conflict)
        {
            //item bestaat al
            await JS.InvokeVoidAsync("alert", "dit item bestaat al!");

        }
        else
        {
            //andere fout
            await JS.InvokeVoidAsync("Alert", "er trad een onbekende fout op!");
        }
    }

}
